In [3]:
import pandas as pd
data=pd.read_csv("C:/Users/rosha/Documents/B.Tech/Semester(6)/ML_Techniques_CSE-3008/LAB/Lab-1/20201cai0002.csv")
data.head(16)

      H1    H2    H3
0   26.0  27.0  27.0
1   46.0  17.0  40.0
2    NaN  28.0  13.0
3   57.0   NaN  43.0
4   41.0  29.0   NaN
5   26.0   9.0  29.0
6   46.0   NaN  50.0
7   55.0  13.0  13.0
8   17.0  37.0   8.0
9   57.0  28.0   NaN
10  13.0   9.0   8.0
11   NaN  44.0  53.0
12  58.0   6.0  53.0
13  46.0  44.0   5.0

In [4]:
print(data.isnull().sum())
#data_dropped=data.dropna()

H1    2
H2    2
H3    2
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy = 'mean')
imp_mean.fit_transform(data)

array([[26.        , 27.        , 27.        ],
       [46.        , 17.        , 40.        ],
       [40.66666667, 28.        , 13.        ],
       [57.        , 24.25      , 43.        ],
       [41.        , 29.        , 28.5       ],
       [26.        ,  9.        , 29.        ],
       [46.        , 24.25      , 50.        ],
       [55.        , 13.        , 13.        ],
       [17.        , 37.        ,  8.        ],
       [57.        , 28.        , 28.5       ],
       [13.        ,  9.        ,  8.        ],
       [40.66666667, 44.        , 53.        ],
       [58.        ,  6.        , 53.        ],
       [46.        , 44.        ,  5.        ]])

In [6]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy = 'median')
imp_mean.fit_transform(data)

array([[26. , 27. , 27. ],
       [46. , 17. , 40. ],
       [46. , 28. , 13. ],
       [57. , 27.5, 43. ],
       [41. , 29. , 28. ],
       [26. ,  9. , 29. ],
       [46. , 27.5, 50. ],
       [55. , 13. , 13. ],
       [17. , 37. ,  8. ],
       [57. , 28. , 28. ],
       [13. ,  9. ,  8. ],
       [46. , 44. , 53. ],
       [58. ,  6. , 53. ],
       [46. , 44. ,  5. ]])

In [7]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy = 'most_frequent')
imp_mean.fit_transform(data)

array([[26., 27., 27.],
       [46., 17., 40.],
       [46., 28., 13.],
       [57.,  9., 43.],
       [41., 29.,  8.],
       [26.,  9., 29.],
       [46.,  9., 50.],
       [55., 13., 13.],
       [17., 37.,  8.],
       [57., 28.,  8.],
       [13.,  9.,  8.],
       [46., 44., 53.],
       [58.,  6., 53.],
       [46., 44.,  5.]])

In [9]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy = 'constant',fill_value=34)
imp_mean.fit_transform(data)

array([[26., 27., 27.],
       [46., 17., 40.],
       [34., 28., 13.],
       [57., 34., 43.],
       [41., 29., 34.],
       [26.,  9., 29.],
       [46., 34., 50.],
       [55., 13., 13.],
       [17., 37.,  8.],
       [57., 28., 34.],
       [13.,  9.,  8.],
       [34., 44., 53.],
       [58.,  6., 53.],
       [46., 44.,  5.]])